//- includes/head.jade
head
	meta(charset='utf-8')
	|     
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	|     
	meta(name='viewport', content='initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width')
	|     
	meta(name='mobile-web-app-capable', content='yes')
	|     
	meta(name='apple-mobile-web-app-capable', content='yes')
	|     
	meta(name='description', content='')
	|     
	meta(name='keywords', content='')
	|     
	meta(name='author', content='Charles Fritz')
	|     
	title.title Guardian DMS
	|     
	link(href='bower_components/mapbox.js/mapbox.css', rel='stylesheet')
	|     
	link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
	|     
	link(rel='stylesheet', href='bower_components/components-font-awesome/css/font-awesome.min.css')
	|     
	link(rel='stylesheet', href='bower_components/leaflet/dist/leaflet.css')
	|     
	link(rel='stylesheet', href='bower_components/bootstrap-table/dist/bootstrap-table.min.css')
	|     
	link(rel='stylesheet', href='bower_components/c3/c3.min.css')
	|     
	link(rel='stylesheet', href='bower_components/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css')
	|     
	link(rel='stylesheet', href='bower_components/leaflet.markerclusterer/dist/MarkerCluster.css')
	|     
	link(rel='stylesheet', href='bower_components/leaflet.markerclusterer/dist/MarkerCluster.Default.css')
	|     
	link(rel='stylesheet', href='bower_components/jQuery-QueryBuilder/dist/css/query-builder.default.min.css')
	|     
	link(rel='stylesheet', href='/vendor/leaflet/leaflet-print/dist/easyPrint.css')
	|     
	link(rel='stylesheet', href='/stylesheets/app.css')
	// link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.2/mapbox-gl.css' rel='stylesheet' /
	// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
	//if lt IE 9
	  script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
	  |       
	  script(src='//oss.maxcdn.com
